<dialog id="{{ 'modal_blog_detail' }}" class="modal">
  <div class="modal-box w-11/12 max-w-xl max-h-11/12">
    <!-- X BUTTON -->
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    <h2 class="text-lg font-semibold">{{ blog().title }}</h2>
    <div class="flex items-center gap-2 text-xs py-2">
      <span>{{ blog().user?.firstName }} {{ blog().user?.lastName }}</span>
      <span>•</span>
      <span class="flex items-center">
        <!-- CALENDAR ICON HERE -->
        {{ blog().publishedDate }}
      </span>
      <span>•</span>
      <span>{{ blog().category?.name }}</span>
    </div>

    <div class="space-y-4 pt-4">
      <div class="aspect-video w-full bg-muted rounded-md flex items-center justify-center">
        @if (blog().video) {
          <video controls class="w-full h-full">
            <source src="{{ blog().video }}" type="video/mp4" />
          </video>
        } @else if (blog().image) {
          <img src="{{ blog().image }}" alt="{{ blog().title }}" class="w-full h-full" />
        } @else {
          <div class="text-center opacity-80">
            <p class="text-sm">No image or video found.</p>
          </div>
        }
      </div>
      <div class="space-y-4 text-sm opacity-80">
        {{ blog().content }}
      </div>
      <div>
        <h3 class="text-sm font-medium mb-2">Reactions</h3>
        <div class="flex gap-4">
          <div class="text-center">
            <p class="text-lg font-bold">00</p>
            <p class="text-xs text-muted-foreground">Likes</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-action mt-4">
      <form method="dialog" class="space-x-2">
        <button class="btn">Close</button>

        <modal-open-button
          [modalName]="'modal_blog_edit'"
          [label]="'Edit'"
          [classes]="'btn-primary'"
          (click)="blogService.selectedBlog = blog()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="lucide lucide-square-pen h-4 w-4 mr-2">
            <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
            <path
              d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"></path>
          </svg>
        </modal-open-button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
