<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
    <div class="w-10 rounded-full p-2 indicator">
      <i class="material-symbols-outlined">notifications</i>
      <!-- <span class="badge badge-xs badge-primary indicator-item"></span> -->
    </div>
  </div>
  <ul
    tabindex="0"
    class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-4 sm:w-80 p-2 shadow-md space-y-1 w-[70vw]"
  >
    <div class="px-2 py-1.5 text-sm font-semibold">Nofiticaciones</div>
    <hr/>

    @for (notification of notifications(); track $index) {
      <li class="">
        <div class="flex flex-col items-start gap-1">
          <p class="font-medium text-sm">{{ notification.title }}</p>
          <p class="text-xs opacity-80">{{ notification.description }}</p>
          <relative-time
            class="text-xs opacity-80"
            datetime="{{ notification.date }}"
            tense="past"
          ></relative-time>
        </div>
      </li>
    }

    <hr/>
    <li><a class="justify-center">Ver todas las nofiticaciones</a></li>
  </ul>
</div>
