<!-- <div class="drawer-side"> -->
<label
  for="my-drawer"
  aria-label="close sidebar"
  class="drawer-overlay"
></label>
<div class="menu bg-base-200 text-base-content w-64 p-0 min-h-full border-r">
  <div class="flex p-4 h-16 items-center border-b px-6">
    <h2 class="text-lg font-semibold">Kjo Mind Care</h2>
  </div>
  <ul class="p-4 space-y-1">
    @for (link of links; track $index) {

    <li>
      <a
        routerLink="{{ link.path }}"
        routerLinkActive="menu-active"
        class="py-2 px-3"
      >
        <span>
          <!-- ICON HERE -->
        </span>
        <span>{{ link.name }}</span>
      </a>
    </li>
    }
  </ul>
</div>
<!-- </div> -->
