<div class="flex justify-between items-center gap-2 flex-wrap">
  <h1 class="sm:text-3xl text-2xl font-bold">Blog Management</h1>
  <blog-modal></blog-modal>
</div>

<div class="py-6">
  <blog-filter [categories]="categories()"></blog-filter>
</div>

<div class="tabs tabs-box">
  <input type="radio" name="blogs" class="tab" aria-label="Grid View" checked="checked" />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <blog-grid [blogs]="blogs()"></blog-grid>
  </div>

  <input type="radio" name="blogs" class="tab" aria-label="Table view" />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <blog-table [blogs]="blogs()"></blog-table>
  </div>
</div>

<!--SECTION FOR MODALS-->
@for (blog of blogs(); track $index) {
  <blog-detail [blog]="blog"></blog-detail>
}
