<div class="flex justify-between items-center gap-2 flex-wrap">
  <h1 class="sm:text-3xl text-2xl font-bold">Blog Management</h1>
  <modal-open-button
    modalName="modal_blog_create"
    [classes]="'btn-primary'"
  >
    + New Post
  </modal-open-button>
</div>

<div class="py-6">
  <blog-filter
    [categories]="categories()"
    (onFilterChange)="setFilter($event)"
  ></blog-filter>
</div>

<div class="tabs tabs-box">
  <input type="radio" name="blogs" class="tab" aria-label="Grid View" checked="checked" />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    @if (blogs.isLoading()) {
      <div class="flex justify-center items-center h-screen">
        <div class="spinner-border text-primary-content" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    } @else {
      <blog-grid [blogs]="filteredBlogs()"></blog-grid>
    }
  </div>

  <input type="radio" name="blogs" class="tab" aria-label="Table view" />
  <div class="tab-content bg-base-100 border-base-300 p-6">
    <blog-table [blogs]="filteredBlogs()"></blog-table>
  </div>
</div>

<!--SECTION FOR MODALS-->
<blog-detail [blog]="blogService.selectedBlog"></blog-detail>

<blog-modal [categories]="categories()" (reload)="reload()"></blog-modal>

<blog-modal
  [type]="'edit'"
  [categories]="categories()"
  [blog]="blogService.selectedBlog"
  (reload)="reload()"
></blog-modal>
