<div class="flex justify-between gap-5 flex-col md:flex-row">
  <label class="input w-full md:flex-2">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input type="search" class="grow" placeholder="Search" />
  </label>

  <div class="flex gap-2 flex-1 *:flex-1">
    <select class="select">
      <option selected>All Categories</option>
      @for (category of categories(); track $index) {
        <option value="{{ category.id }}">{{ category.name }}</option>
      }
    </select>

    <select class="select">
      <option selected>All status</option>
      <option value="{{ Status.Published }}">{{ Status.Published }}</option>
      <option value="{{ Status.Draft }}">{{ Status.Draft }}</option>
      <option value="{{ Status.Deleted }}">{{ Status.Deleted }}</option>
    </select>
  </div>
</div>
