<dialog id="{{ 'modal_blog_comment' }}" class="modal">
  <div class="modal-box w-11/12 max-w-xl max-h-11/12">
    <!-- X BUTTON -->
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        <i class="material-symbols-outlined !text-xl">close</i>
      </button>
    </form>

    <h2 class="text-lg font-semibold">{{ title() }}</h2>

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Content</legend>
        <input
          type="text"
          class="input validator w-full"
          formControlName="content"
          placeholder="Content"
          minlength="2"
          required
          autocomplete="off"
        />
        <p class="validator-hint hidden">
          {{ formUtils.getFieldError(commentForm, 'content') }}
        </p>
      </fieldset>

      <div class="modal-action mt-4">
        <form method="dialog" class="space-x-2">
          <button class="btn">Close</button>

          <button
            class="btn btn-primary"
            [disabled]="commentForm.invalid"
            type="submit"
            (click)="onSubmit()"
          >
            {{ nameButton() }}
          </button>
        </form>

      </div>
    </form>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

