@if (keycloakService.isLoading()) {
  <main class="flex flex-col items-center justify-center h-screen w-screen">
    <div class="card bg-neutral text-primary-content w-96 m-4">
      <div class="card-body">
        <h2 class="card-title font-bold w-1/2 skeleton h-8"></h2>
        <p class="text-md h-4 skeleton"></p>
        <p class="text-md h-4 skeleton w-1/2"></p>
        <div class="card-actions flex-col *:w-full mt-2">
          <div class="btn btn-primary">
            <span class="loading loading-spinner"></span>
          </div>
        </div>
      </div>
    </div>
  </main>
} @else {
  @if (keycloakService.isAuthenticated()) {
    <router-outlet />
  } @else {
    <main class="flex flex-col items-center justify-center h-screen w-screen">
      <div class="card bg-neutral text-primary-content max-w-96 m-4">
        <div class="card-body">
          <h2 class="card-title text-2xl font-bold">KJO Mind Care</h2>
          <p class="text-md">Welcome to the dashboard of the KJO Mind Care application.</p>
          <div class="card-actions flex-col *:w-full mt-2">
            <button (click)="login()" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </main>
  }

}
