<dialog id="{{ nameModal() }}" class="modal">
  <div class="modal-box max-h-11/12">
    <!-- X BUTTON -->
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        <i class="material-icons-outlined !text-xl">close</i>
      </button>
    </form>

    <h2 class="text-lg font-semibold">{{ title() }}</h2>

    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Title</legend>
        <input
          type="text"
          class="input validator w-full"
          formControlName="title"
          placeholder="Title"
          minlength="3"
          required
          autocomplete="off"
        />
        <p class="validator-hint hidden">
          {{ formUtils.getFieldError(blogForm, 'title') }}
        </p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Content</legend>
        <textarea
          class="textarea validator w-full"
          formControlName="content"
          placeholder="Content"
          required
          minlength="5"
          autocomplete="off"
        ></textarea>
        <p class="validator-hint hidden">
          {{ formUtils.getFieldError(blogForm, 'content') }}
        </p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Image</legend>
        <input
          type="file"
          class="file-input validator w-full"
          formControlName="image"
          accept="image/*"
          autocomplete="off"
          (change)="onFileChange($event, 'image')"
        />
        <p class="validator-hint hidden">
          {{ formUtils.getFieldError(blogForm, 'image') }}
        </p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Video</legend>
        <input
          type="file"
          accept="video/*"
          class="file-input validator w-full"
          formControlName="video"
          autocomplete="off"
          (change)="onFileChange($event, 'video')"
        />
        <p class="validator-hint hidden">
          {{ formUtils.getFieldError(blogForm, 'video') }}
        </p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Category</legend>
        <select
          class="select validator w-full"
          formControlName="categoryId"
          required
          [ngClass]="{ '!input-error': formUtils.isValidField(blogForm, 'categoryId') }"
        >
          <option disabled [ngValue]="0">-- Select category --</option>

          @for (category of categories(); track $index) {
            <option [ngValue]="category.id">{{ category.name }}</option>
          }
        </select>
        <p class="validator-hint hidden">
          {{ formUtils.getFieldError(blogForm, 'categoryId') }}
        </p>
      </fieldset>

      <div class="modal-action mt-4">
        <form method="dialog" class="space-x-2">
          <button class="btn">Close</button>

          <button
            class="btn btn-primary"
            [disabled]="blogForm.invalid"
            type="submit"
            (click)="onSubmit()"
          >
            {{ nameButton() }}
          </button>
        </form>

      </div>
    </form>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>

  @if (message()) {
    <div class="toast toast-top toast-end z-[9999]">
      <div class="alert alert-success">
        <span>{{ message() }}</span>
      </div>
    </div>
  }
</dialog>

