<div class="overflow-x-auto">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th class="">Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Date</th>
      <th>Status</th>
      <th>Reactions</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (blog of blogs(); track $index) {
        <tr class="hover:bg-base-200">
          <td>{{ blog.blog.id }}</td>
          <td class="min-w-64">
            <p class="line-clamp-2 text-ellipsis text-wrap">
              {{ blog.blog.title }}
            </p>
          </td>
          <td class="truncate">
            {{ blog.blog.author?.firstName }} {{ blog.blog.author?.lastName }}
          </td>
          <td class="truncate">{{ blog.blog.category?.name }}</td>
          <td>{{ blog.blog.publishedDate }}</td>
          <td>
            @if (blog.blog.state == Status.Draft) {
              <span class="badge badge-outline">Draft</span>
            } @else {
              <span class="badge badge-primary">Published</span>
            }
          </td>
          <td class="text-center">{{ blog.reactionCount }}</td>
          <td class="text-center">{{ blog.commentCount }}</td>
          <td class="flex items-center gap-1">
            <modal-open-button
              [modalName]="'modal_blog_detail'"
              [type]="'icon'"
              (click)="blogService.selectedBlog = blog"
            >
              <i class="material-symbols-outlined !text-xl">visibility</i>
            </modal-open-button>

            <modal-open-button
              [modalName]="'modal_blog_edit'"
              [type]="'icon'"
              (click)="blogService.selectedBlog = blog"
            >
              <i class="material-symbols-outlined !text-xl">edit_square</i>
            </modal-open-button>

            <modal-open-button
              [modalName]="'modal_blog_delete'"
              [type]="'icon'"
              (click)="blogService.selectedBlog = blog"
            >
              <i class="material-symbols-outlined !text-xl">delete</i>
            </modal-open-button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7" class="text-center">
            <p class="">No posts found.</p>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
