<div class="overflow-x-auto">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th class="">Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (blog of blogs(); track $index) {
        <tr class="hover:bg-base-200">
          <td>{{ blog.id }}</td>
          <td class="min-w-64">
            <p class="line-clamp-2 text-ellipsis text-wrap">
              {{ blog.title }}
            </p>
          </td>
          <td class="truncate">
            {{ blog.user?.firstName }} {{ blog.user?.lastName }}
          </td>
          <td class="truncate">{{ blog.category?.name }}</td>
          <td>{{ blog.publishedDate }}</td>
          <td>
            @if (blog.status == Status.Draft) {
              <span class="badge badge-outline">Draft</span>
            } @else {
              <span class="badge badge-primary">Published</span>
            }
          </td>
          <td class="flex items-center gap-1">
            <modal-open-button
              [modalName]="'modal_blog_detail'"
              [type]="'icon'"
              (click)="blogService.selectedBlog = blog"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="lucide lucide-eye h-4 w-4">
                <path
                  d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>
            </modal-open-button>

            <modal-open-button
              [modalName]="'modal_blog_edit'"
              [type]="'icon'"
              (click)="blogService.selectedBlog = blog"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="lucide lucide-square-pen h-4 w-4">
                <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                <path
                  d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"></path>
              </svg>
            </modal-open-button>

            <button class="btn btn-circle btn-xs">X</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7" class="text-center">
            <p class="">No posts found.</p>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
